<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>webBase</display-name>
	<!--struts2-->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
		<init-param>   
			<param-name>config</param-name>        
			<param-value>struts-default.xml,struts-plugin.xml,struts/struts.xml</param-value> 
		</init-param>                 
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.so</url-pattern>
	</filter-mapping>
	<!--The definition of the Root Spring Container shared by all Servlets and Filters-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/spring/contextLoaderListener.xml</param-value>
	</context-param>
	<!--Creates the Spring Container shared by all Servlets and Filters-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!--spring mvc
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>  
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>  
		<init-param>  
			<param-name>contextConfigLocation</param-name>  
			<param-value>classpath:/dispatcherServlet.xml</param-value>  
		</init-param>		
		<load-on-startup>1</load-on-startup>  
	</servlet>  
	<servlet-mapping>  
		<servlet-name>dispatcherServlet</servlet-name>  
		<url-pattern>*.sp</url-pattern>  
	</servlet-mapping>-->
	<!--pushlet
	<servlet>
		<servlet-name>pushlet</servlet-name>
		<servlet-class>nl.justobjects.pushlet.servlet.Pushlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>pushlet</servlet-name>
		<url-pattern>/pushlet.srv</url-pattern>
	</servlet-mapping>-->
	<!--<error-page>  
	  <location>/eor.jsp</location>  
	</error-page>	
	<error-page>  
	  <exception-type>java.io.IOException</exception-type>  
	  <location>/error.jsp</location>  
	</error-page>
	<error-page>  
	  <error-code>404</error-code>  
	  <location>/error.jsp</location>  
	</error-page>-->
</web-app>